body {
    margin: 0;
  }

  .home-text-container {
    text-align: center;
    background-color: black;
  }

  .tagline h3 {
   background-color: black;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   font-size: 15px;
   color: white;
   text-align: center;
  }


  .header-container img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }

  .container p {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-family: Roboto,sans-serif;
    --tw-bg-opacity: 1;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-scroll-snap-strictness: proximity;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom: 30px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
    max-width: 320px;
    min-width: 200px;
  }

  .container h4 {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    line-height: inherit;
    font-family: Roboto,sans-serif;
    --tw-bg-opacity: 1;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness: proximity;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }

  .angry-grid3 {
    display: grid; 
 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one two" 
    "one two";
;    
    gap: 0px;
    height: 55%;
    padding-top: 20vh;
    
 }

  .angry-grid {
    display: grid; 
 
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one two" 
    "one two";
    
    gap: 0px;
    height: 55%;
    padding-top: 20vh;
    
 }
   
 #item-0 {

    grid-area: one;
 
    background-color: #95d68d; 
  
    
 }

 #item-0 h4{
  color: white
 }

 #item-1 h4{
  color: white
 }

 #item-1 {
    grid-area: two;
    background-color: #7B669D; 
 }

  .flex-box-header {
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: baseline;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.7);  
  }

  .header {
    position: absolute;
  }

  .header h2 {
    padding-left: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: x-large;
    color: white;
  }
  
  .container {
    scroll-snap-type: y mandatory;
    height: 100vh;
    overflow-y: scroll;
  }
  
  /* Hide container scrollbar */
  .container::-webkit-scrollbar {
    display: none;
  }
  
  .section-home {
    background-image: url('../public/images/home.GIF');
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-games {
    background-image: url('../public/images/randomTV.PNG');
    height: 472px;

    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-media {
    background-image: url('../public/images/cars.PNG');
    height: 480px;

    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section-software {
    background-image: url('../public/images/computerspace.PNG');
    height: 480px;

    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section {
    height: 100vh;
    scroll-snap-align: start;
    scroll-snap-stop: always;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
  }


  /* Note - look into max-width for multiple supported devices */
  @media (max-width: 480px) {
    .angry-grid {
      display: grid;
      grid-template-areas: 
      "one one"
      "two two";
    }

    .angry-grid3 {
      display: grid;
      grid-template-areas: 
      "one one"

      "two two"
      ;
    }

    .flex-box-header h2{
      margin-left: -25px;
    }

  
  }



  